.Question_Wrapper{
    width: 100%;
    height: 100%;
}
.Question_Wrapper .QuestionStatement{
    font-size: 1.2rem;
    margin-left: 5rem;
    margin-top: 3rem;
}
.Question_Wrapper .Opations_Wrapper{
    margin-left: 5rem;
    margin-top: 2rem;
    cursor: pointer;
}
.Question_Wrapper .Opations_Wrapper .Option{
    font-size: 1rem;
    padding: 1rem 0rem; 
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: -0.3rem;
}
.Question_Wrapper .Opations_Wrapper .Option .OptionIcon{
    transform: translate3d(-1.2rem, 0px, 0px);
    transition: transform ease-in-out 300ms;
}
.Question_Wrapper .Opations_Wrapper .OptionText{
    transition: transform ease-in-out 300ms;
}
.Question_Wrapper .Opations_Wrapper .Option > span{
    display: inline-flex;
}
.Question_Wrapper .Opations_Wrapper .Option:hover{
    background-color: #f6f8fa;
}